<% provide(:button_text, '変更を送信する') %>
<% provide(:class_text, 'application-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <%= form_with model: @user, url: one_month_application_attendance_path(date: @first_day), local: true, method: :patch do |f| %>
          <% @title_name.each do |keys, values| %>
            <h1 class="modal-title"><%= "【#{User.find(keys).name}からの１ヶ月分勤怠申請】" %></h1>
              <table class="table table-bordered table-condensed table-striped">
                <thead>
                  <tr>
                    <th class="text-center">月</th>
                    <th class="text-center">指示者確認㊞</th>
                    <th class="text-center">変更</th>
                    <th class="text-center">勤怠を確認する</th>
                  </tr>
                </thead>

                <tbody>
                  <% values.each do |value| %>
                    <%= fields_for "attendances[]", value do |af| %>
                      <tr>
                        <td class="text-center"><%= l(@first_day, format: :month) %></td>
                        <td class="text-center"><%= af.select :decision, Attendance.decisions.keys, class: "form-control" %></td>
                        <td class="text-center"><%= af.check_box :agreement, {}, checked_value = "true", unchecked_value = "false" %></td>
                        <td class="text-center"><%= link_to "確認", user_path(@user), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
          <% end %>
          <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>