<% provide(:button_text, '変更を送信する') %>
<% provide(:class_text, 'application-notice') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <%= form_with model: @user, url: overtime_application_notice_attendance_path, local: true, method: :patch do |f| %>
          <% @title_name.each do |keys, values| %>
            <h1 class="modal-title"><%= "【#{User.find(keys).name}からの残業申請】" %></h1>
              <table class="table table-bordered table-condensed table-striped">
                <thead>
                  <tr>
                    <td class="text-center">日付</td>
                    <td class="text-center">曜日</td>
                    <td class="text-center">終了予定時間</td>
                    <td class="text-center">指定勤務終了時間</td>
                    <td class="text-center">時間外時間</td>
                    <td class="text-center">業務処理内容</td>
                    <td class="text-center">指示者確認㊞</td>
                    <td class="text-center">変更</td>
                    <td class="text-center">勤怠を変更する</td>
                  </tr>
                </thead>

                <tbody>
                  <% values.each do |value| %>
                    <%= fields_for "attendances[]", value do |af| %>
                      <tr>
                        <!-- 日付 -->
                        <td class="text-center"><%= l(@attendance.worked_on, format: :short) %>
                                      　　   　  　<%= f.hidden_field :day, :value => @attendance.worked_on %></td>
                        <!-- 曜日 -->
                        <td class="text-center">
                          <% if @attendance.worked_on.wday == 6 %>
                            <font color="Blue"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                          <% elsif @attendance.worked_on.wday == 0  %>
                            <font color="Red"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                          <% else %>
                            <%= $days_of_the_week[@attendance.worked_on.wday] %>
                          <% end %>
                        </td>
                        <!-- 終了予定時間 -->
                        <td class="text-center"><%= l(value.endplans_time, format: :time) %></td>
                        <!-- 指定勤務終了時間 -->
                        <td class="text-center"><%= l(User.find(keys).user_designated_work_end_time, format: :time) %></td>
                        <!-- 時間外時間 -->
                        <td class="text-center"><%= l(value.endplans_time, format: :time).to_f - l(User.find(keys).user_designated_work_end_time, format: :time).to_f %></td>
                        <!-- 業務処理内容 -->
                        <td class="text-center"><%= value.business_outline %></td>
                        <!-- 指示者確認㊞ -->
                        <td class="text-center"><%= af.select :decision, Attendance.decisions.keys, class: "form-control" %></td>
                        <!-- 確認 -->
                        <td class="text-center"><%= af.check_box :agreement, {}, checked_value = "true", unchecked_value = "false" %></td>
                        <!--勤怠を変更する-->
                        <td class="text-center"><%= link_to "確認", user_path(@user), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
          <% end %>
          <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>