<% provide(:title, "ユーザ一覧") %>
<% provide(:button_text, "編集する") %>

<div class="container">
    <h1>ユーザ一覧</h1>
    <div class="col-md-10 col-md-offset-1"></div>

    <div class="col-md-10 col-md-offset-1">
        <ul>
            <li></li>
            <li><span>| </span><%= link_to '削除', "#", method: :delete,
                  data: { confirm: '削除してもよろしいでしょうか？' }, class: "btn btn-primary" %>
            </li>
            <li>
            <!-- アコーディオン -->
              <div class="panel panel-default">
                <a href="#collapse<%#= user.id %>" data-toggle="collapse" class="btn btn-primary btn-lg collapsed">編集</a>
              </div>
              <div style="padding: 10px; margin-bottom: 10px; border: 0.5px solid #c0c0c0; border-radius: 5px;" id="collapse<%#= user.id %>" class="collapse">
                <%= form_with(url: "#", local: true, method: :patch) do |f| %>
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control" %>
                
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control" %>
                    
                  <%= f.label :department %>
                  <%= f.text_field :department, class: "form-control" %>
                
                  <%= f.label :employee_number %>
                  <%= f.number_field :employee_number, class: "form-control" %>
                
                  <%= f.label :user_card_id %>
                  <%= f.text_field :user_card_id, class: "form-control" %>
                  
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control" %>
                  
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                  
                  <%= f.label :basic_time %>
                  <%= f.time_field :basic_time, class: "form-control" %>
                  
                  <%= f.label :user_designated_work_start_time %>
                  <%= f.time_field :user_designated_work_start_time, class: "form-control" %>
                  
                  <%= f.label :user_designated_work_end_time %>
                  <%= f.time_field :user_designated_work_end_time, class: "form-control" %>
                  <br>
                  <%= f.submit "編集する", class: "btn btn-primary btn-block" %>
                <% end %>
              </div>
            </li>
        </ul>
    </div>
</div> 