<% provide(:title, "ユーザ一覧") %>
<% provide(:button_text, "編集する") %>

<div class="container">
    <h1>ユーザ一覧</h1>
    <div class="col-md-10 col-md-offset-1"></div>

    <div class="col-md-10 col-md-offset-1">
      <% @users.each do |user| %>
        <ul>
            <li></li>
            <li><span><%= user.name %></span><%= link_to '削除', user_path(user), method: :delete,
                  data: { confirm: '削除してもよろしいでしょうか？' }, class: "btn btn-primary index_button" %>
            </li>
            <li class="edit_button">
            <!-- アコーディオン -->
              <div class="panel panel-default">
                <a href="#collapse<%= user.id %>" data-toggle="collapse" class="btn btn-primary index_button collapsed">編集</a>
              </div>
              <div class="accordion collapse" id="collapse<%= user.id %>">
                <%= form_with(model: user, url: update_index_user_path(user), local: true, method: :patch) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                
                  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
                  <%= f.text_field :name, class: "form-control" %>
                
                  <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
                  <%= f.text_field :uid, class: "form-control" %>
                
                  <%= f.label :password, class: "label-#{yield(:class_text)}" %>
                  <%= f.password_field :password, class: "form-control" %>
                
                  <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                  
                  <%= f.label :一般ユーザー %>
                  <%= f.radio_button :role, :general %>
                  
                  <%= f.label :上長ユーザー %>
                  <%= f.radio_button :role, :superior %>
                  
                  <%= f.label :管理者 %>
                  <%= f.radio_button :role, :admin %>
                  
                  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
                <% end %>
              </div>
            </li>
        </ul>
      <% end %>
    </div>
</div> 
