<% provide(:title, "ユーザ一覧") %>
<% provide(:button_text, "編集する") %>

<div class="container">
    <h1>ユーザ一覧</h1>
    <div class="col-md-10 col-md-offset-1"></div>

    <div class="col-md-10 col-md-offset-1">
      <% @users.each do |user| %>
        <ul>
            <li></li>
            <li class="destroy_button"><span><%= user.name %></span><%= link_to '削除', user_path(user), method: :delete,
                  data: { confirm: '削除してもよろしいでしょうか？' }, class: "btn btn-primary" %>
            </li>
            <li class="edit_button">
            <!-- アコーディオン -->
              <div class="panel panel-default">
                <a href="#collapse" data-toggle="collapse" class="btn btn-primary collapsed">編集</a>
              </div>
              <div style="padding: 10px; margin-bottom: 10px; border: 0.5px solid #c0c0c0; border-radius: 5px;" id="collapse<%#= user.id %>" class="collapse">
                <%= form_with(model: user, local: true) do |f| %>
                  
                
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control" %>
                
                  <%= f.label :職員コード %>
                  <%= f.text_field :uid, class: "form-control" %>
                  
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control" %>
                  
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                  
                  <%= f.check_box :role, {}, :superior %>
                  <%= label_tag '上長', '' %>
                  <%= f.label :foo, '上長' %>
                  
                  <%= f.check_box :role, {}, :admin %>
                  <%= label_tag '管理者', '' %>
                  <%= f.label :foo, '管理者' %>
                  
                  <br>
                  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
                <% end %>
              </div>
            </li>
        </ul>
      <% end %>
    </div>
</div> 