<% provide(:title, "ユーザ一覧") %>

<div class="container">
  <% if params[:name].present? %>
    <h1>検索結果</h1>
  <% else %>
    <h1>全てのユーザー</h1>
  <% end %>
    <div class="col-md-3 col-md-offset-8">
      <%= form_with(model: @user, method: :get, local: true) do |f| %>
        <%= f.label :search, "ユーザー名検索" %>
        <div style="display: inline-flex">
          <%= f.text_field :name, class: "form-control", placeholder: "キーワードを入力" %>
          <%= f.submit "検索", class: "btn btn-md btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <%= will_paginate %>
        <table class="table table-condensed table-hover" id="table-users">
          <% @users.each do |user| %>
            <tr>
              <% if current_user.admin? %>
                <td class="pull-left"><%= link_to user.name, user_path(user) %> |</td>
              <% else %>
                <td class="pull-left"><%= user.name %> |</td>
              <% end %>
              <% if current_user.admin? && !current_user?(user) %>
                <td class="pull-left"><%= link_to '基本情報編集', edit_basic_info_user_path(user), remote: true %> |</td>
                <td class="pull-left"><%= link_to '削除', user_path(user), method: :delete,
                    data: { confirm: '削除してもよろしいでしょうか？' } %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <%= will_paginate %>
    </div>
</div> 

<!-- モーダルウィンドウ表示 -->
<div id="edit_basic_info" class="modal fade" tabindex="-1" rule="dialog" area-hidden="true"></div>