<% provide(:title, '勤怠確認') %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <br>
        <span class="align-middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;時間管理表&nbsp;&nbsp;&nbsp;</span>
      </td>
      <td ><br>
        指定勤務開始時間&nbsp;&nbsp;&nbsp;<br>
        指定勤務終了時間&nbsp;&nbsp;&nbsp;
      </td>
      <td colspan="3"><br>基本時間&nbsp;&nbsp;&nbsp;</td>
      <td><br>初日&nbsp;&nbsp;&nbsp;</td>
    </tr>

    <tr>
      <td>所属&nbsp;&nbsp;&nbsp;</td>
      <td>氏名&nbsp;&nbsp;&nbsp;</td>
      <td>コード</td>
      <td></td>
      <td>出勤日数&nbsp;&nbsp;&nbsp;日</td>
      <td>締め&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-striped" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="8">所定外勤務</th>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |attendance| %>
        <% overtime_approval = attendance.overtime_approval %>
        <tr>
          <td>
            <!-- attendances_overtime_application_info_user_pathにdayを渡さないと、１ヶ月分の情報を残業申請情報に渡すことができない。@userで指定しないとどのユーザーの申請かわからない -->
            <%= link_to "残業申請", new_user_attendance_overtime_approval_path(@user, attendance), remote: true, class: "btn btn-md btn-primary disabled" %>
          </td>
          <td><%= attendance.date.month.to_s + "/" + attendance.date.day.to_s %></td>
          <td><%= $days_of_the_week[attendance.date.wday] %></td>
          <td><%= attendance.start_time ? attendance.start_time.hour : nil %></td>
          <td><%= attendance.start_time ? attendance.start_time.min : nil %></td>
          <td></td>
          <td><%= attendance.end_time ? attendance.end_time.hour : nil %></td>
          <td><%= attendance.end_time ? attendance.end_time.min : nil %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= overtime_approval.end_time.hour ? overtime_approval.end_time.hour : nil if overtime_approval %></td>
          <td><%= overtime_approval.end_time.min ? overtime_approval.end_time.min : nil if overtime_approval %></td>
          <td>
            <% if overtime_approval %>
              <% if overtime_approval.nextday_flag %>
                <% overtime = overtime_approval.end_time + 60*60*24 - 60*60*18 %>
                <%= overtime.hour.to_s + ":" + overtime.min.to_s %>
              <% else %>
                <% overtime = overtime_approval.end_time - 60*60*18 %>
                <%= overtime.hour.to_s + ":" + overtime.min.to_s %>
              <% end %> 
            <% end %>
          </td>
          <td><%= overtime_approval.comment ? overtime_approval.comment : nil if overtime_approval %></td>
          <td>
            <% if overtime_approval %>
              <% if overtime_approval.application_situation && overtime_approval.superior_id %>
                <% superior_name = User.find(overtime_approval.superior_id).name %>
                <% if overtime_approval.application? %>
                  <%= "残業申請：" + superior_name + "へ申請中" %>
                <% elsif overtime_approval.approval? %>
                  <%= "残業申請：" + superior_name + "が承認済" %>
                <% else %>
                  <%= "残業申請：" + superior_name + "が否認" %>
                <% end %>
              <% end %>  
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <th colspan="2"></th>
        <th colspan="6"></th>
        <th>累計在社時間</th>
        <th></th>
        <th colspan="5"></th>
        <td rowspan = "2">
          <div class="btn-group">
            <label>所属長承認&nbsp;&nbsp;&nbsp;</label>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table>
</div>
