<% provide(:button_text, '変更を送信する') %>
<% provide(:class_text, 'application-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <%= form_with model: @user, url: update_one_month_application_notice_attendance_path, local: true, method: :patch do |f| %>
        <!-- ここにインスタンス変数を記載しないと、結果を返すことができない -->
        <% @title_name = Attendance.joins(:user).where(month_order_id: current_user.name).group_by(&:user_id) %>
          <% @title_name.each do |keys, values| %>
            <h1 class="modal-title"><%= "【#{User.find(keys).name}からの１ヶ月分勤怠申請】" %></h1>
              <table class="table table-bordered table-condensed table-striped">
                <thead>
                  <tr>
                    <th class="text-center">月</th>
                    <th class="text-center">指示者確認㊞</th>
                    <th class="text-center">変更</th>
                    <th class="text-center">勤怠を確認する</th>
                  </tr>
                </thead>

                <tbody>
                  <% values.each do |value| %>
                    <%= f.fields_for "attendances[]", value do |af| %>
                      <tr>
                        <td class="text-center"><%= "#{value.worked_on.month}月" %></td>
                        <!--enumは同じものを見る場合は、複数作成することはできないのでstring型で持たせた方が良い-->
                        <td class="text-center"><%= af.select :decision_month_order, { なし: "なし", 申請中: "申請中", 承認: "承認", 否認: "否認" }, class: "form-control" %></td>
                        <td class="text-center"><%= af.check_box :agreement, {}, checked_value = "true", unchecked_value = "false" %></td>
                        <td class="text-center"><%= link_to "確認", show_only_user_path(User.find(keys), date: value.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
          <% end %>
          <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>