<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: user_attendances_update_one_month_path(user_id: @user.id), local: true, method: :patch) do |f| %>
  <div>
    <table class="table table-bordered table-condensed table-striped" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>指示者確認㊞</th>
        </tr>
      </thead>
      
      <tbody>
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td><%= l(day.date, format: :short) %></td>
              <td>
                <% if day.date.wday == 6 %>
                  <font color="Blue"><%= $days_of_the_week[day.date.wday] %></font>
                <% elsif day.date.wday == 0  %>
                  <font color="Red"><%= $days_of_the_week[day.date.wday] %></font>
                <% else %>
                  <%= $days_of_the_week[day.date.wday] %>
                <% end %>
              </td>
              <% if Date.current < day.date %>
                <td><%= attendance.time_field :start_time, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :end_time, readonly: true, class: "form-control" %></td>
              <% else %>
                <td><%= attendance.time_field :start_time, class: "form-control" %></td>
                <td><%= attendance.time_field :end_time, class: "form-control" %></td>
              <% end %>
              <!-- 指示者確認印 -->
              <td class="text-center">
                <%= f.select :superior_id, @superiors, include_blank: '選択してください' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  　<div class="center">
  　   <%= link_to "キャンセル", user_path(@user.id), class: "btn btn-md btn-default" %>
  　   <%= f.submit "編集を保存する", class: "btn btn-md btn-primary" %>
  　</div>
  </div>
<% end %>